<div class="landing_page">
  <article>
    <h2>Newest Arrivals</h2>
    <div class="scroll">
      <section class = "homepage_products">
        <img   src="https://4.bp.blogspot.com/-2W4Y2qjVS_k/WFO9NlAhEdI/AAAAAAAAmzw/eU2Y0fF34D869miUfW73xxGQ7irqqhFOACLcB/s1600/S160-0030-0_detail_02.jpg" alt="suitcase">
        <img   src="https://4.bp.blogspot.com/-2W4Y2qjVS_k/WFO9NlAhEdI/AAAAAAAAmzw/eU2Y0fF34D869miUfW73xxGQ7irqqhFOACLcB/s1600/S160-0030-0_detail_02.jpg" alt="suitcase">
        <img   src="https://4.bp.blogspot.com/-2W4Y2qjVS_k/WFO9NlAhEdI/AAAAAAAAmzw/eU2Y0fF34D869miUfW73xxGQ7irqqhFOACLcB/s1600/S160-0030-0_detail_02.jpg" alt="suitcase">
        <img   src="https://4.bp.blogspot.com/-2W4Y2qjVS_k/WFO9NlAhEdI/AAAAAAAAmzw/eU2Y0fF34D869miUfW73xxGQ7irqqhFOACLcB/s1600/S160-0030-0_detail_02.jpg" alt="suitcase">
      </section>
      <section class = "scroll_indicator">
        <i class="fa fa-chevron-right"></i>
      </section>
    </div>

  </article>

  <article>
    <h2>Featured Products</h2>
    <div class="scroll">
    <section class = "homepage_products">
      <img   src="https://ae01.alicdn.com/kf/HTB15Pq1NpXXXXbtXFXXq6xXFXXXU/Hot-sale-casual-style-kawaii-fashion-antique-sweet-travel-world-Diary-note-books-memos-Notepad-kraft.jpg" alt="book">
      <img   src="https://ae01.alicdn.com/kf/HTB15Pq1NpXXXXbtXFXXq6xXFXXXU/Hot-sale-casual-style-kawaii-fashion-antique-sweet-travel-world-Diary-note-books-memos-Notepad-kraft.jpg" alt="book">
      <img   src="https://ae01.alicdn.com/kf/HTB15Pq1NpXXXXbtXFXXq6xXFXXXU/Hot-sale-casual-style-kawaii-fashion-antique-sweet-travel-world-Diary-note-books-memos-Notepad-kraft.jpg" alt="book">
      <img   src="https://ae01.alicdn.com/kf/HTB15Pq1NpXXXXbtXFXXq6xXFXXXU/Hot-sale-casual-style-kawaii-fashion-antique-sweet-travel-world-Diary-note-books-memos-Notepad-kraft.jpg" alt="book">
    </section>
    <section class = "scroll_indicator">
      <i class="fa fa-chevron-right"></i>
    </section>
  </div>
  </article>

  <article>
    <h2>Staff Favorites</h2>
    <div class="scroll">
    <section class = "homepage_products">
      <img   src="https://cdn.shopify.com/s/files/1/0797/1877/products/spreepicky_Kawaii_Cartoon_Silica_Gel_Phone_Case_SP165060_4.jpg?v=1458357139" alt="phone_case">
      <img   src="https://cdn.shopify.com/s/files/1/0797/1877/products/spreepicky_Kawaii_Cartoon_Silica_Gel_Phone_Case_SP165060_4.jpg?v=1458357139" alt="phone_case">
      <img   src="https://cdn.shopify.com/s/files/1/0797/1877/products/spreepicky_Kawaii_Cartoon_Silica_Gel_Phone_Case_SP165060_4.jpg?v=1458357139" alt="phone_case">
      <img   src="https://cdn.shopify.com/s/files/1/0797/1877/products/spreepicky_Kawaii_Cartoon_Silica_Gel_Phone_Case_SP165060_4.jpg?v=1458357139" alt="phone_case">
    </section>
    <section class = "scroll_indicator">
      <i class="fa fa-chevron-right"></i>
    </section>
  </div>
  </article>
</div>
