<section>
  <h2>
    <%=  @category.category_type.capitalize %>
  </h2>


  <% @items_in_category.each do |item| %>
    <p>
      <%= item.name %>: <%= item.description %>
    </p>
    <img src="<%= item.image %>" alt="Shoes with bowties">

  <% end %>
</section>
