<main>

  <section>
    <h2><%=@user.name%>'s Shop</h2>
    <%= image_tag "#{@user.image_url}", alt: "user image", title: "#{@user.name}'s profile'", style: 'float:right;'%>
    <div class="product">
      <h3> Product List</h3>
      <ul>
        <%@user.items.each do |item| %>
        <li><strong>For sale: </strong><%=item.name%><%= link_to "(view)", item_path(item)%></li>
        <% end %>
      </ul>
    </div>
  </section>

</main>
